.container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    pointer-events: auto;


    background: rgba(0, 0, 0, 0.3); /* Fond semi-transparent */
    backdrop-filter: blur(5px); /* Flou */
}

.login-form {
    position: absolute;
    top: 50%;
    left: 20%;

    transform: translateY(-50%);
    width: 30%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../../../srcs/game/assets/image/homeV2.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}


.register-form {
    position: absolute;
    top: 50%;
    left: 20%;

    transform: translateY(-50%);
    width: 30%;
    height: 55%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../../../srcs/game/assets/image/homeV2.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

    display: none;
}



.login-form h1, .register-form h1 {
    font-size: 1.2vw;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

    display: flex; /* Pour aider au centrage du texte */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Ombre noire douce */
}


.form-group {

    width: 20vw;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-container {
    display: flex;
    align-items: center; /* Alignement vertical */
    gap: 10px; /* Espacement entre le label et l'input */
    width: 100%;
}

.input-container label {
    color: #fff;
    font-size: 14px;
    font-family: "Black Ops One", sans-serif;
    width: 30%; /* Largeur fixe pour aligner les labels */
    text-align: right; /* Alignement du texte à droite */
}

.input-container input {
    width: 60%; /* Laisse de la place pour le label */
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.input-container input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.input-container input:focus {
    border: 1px solid #ffffff;
    box-shadow: 0 0 8px #ffffff;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 0.6vw;
    background: #ffffff2b;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
    font-family: "Black Ops One", sans-serif;
}

button:hover {
    color : #ffffff;
    box-shadow: #ffffff 0px 0px 10px;
}

.form-group-container {
    display: flex;
    flex-direction: column; /* Place les formulaires l'un en dessous de l'autre */
    gap: 20px; /* Espace entre chaque formulaire */
}


.register-form.active {
    display: flex;
}

.login-form.active {
    display: none;
}

.title h1 {
    position: absolute;
    top: 1%;
    right: 5%;

    font-size: 2.5vw;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}