/****************************************************************/
/****************TOURNAMENT_VIEW**********************************/
/****************************************************************/

.tournament_view {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 58%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3sease;
    transform: translate(-50%, -50%);
	z-index: 15;
}


.tournament_view-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.tournament_view-content h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 2.5vw;
    position: relative;
    top: 2%;
    font-family: 'Black Ops One', sans-serif;
    left: 75%;
    width: 21%;
}

.container_name_player {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 53%;
    height: 69%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../srcs/game/assets/image/homeV2.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    gap: 7px;
}

.container_name_player h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 1.3vw;
    position: absolute;
    font-family: 'Black Ops One', sans-serif;
    width: 100%;
    top: 0%;
    left: 38%;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 60%;
    /* background-color: #00000082; */
    margin-top: -10px;
}

.input-container label {
    color: #fff;
    font-size: 14px;
    font-family: "Black Ops One", sans-serif;
    width: 30%;
    text-align: right;
}

.input-container input {
    width: 66%;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    height: 33%;
}

.input-container input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.input-container input:focus {
    border: 1px solid #ffffff;
    box-shadow: 0 0 8px #ffffff;
}


.container_name_player.hidden {
    display: none;
    pointer-events: none;
}



.btn_back_tournament {
    padding: 15px 0px;
    font-size: 0.7vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 2px solid #44444400;
    background-color: transparent;
    /* border-radius: 8px; */
    cursor: pointer;

    text-align: center;
    background-image: url("../../../srcs/game/assets/image/boutton.svg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 4vh;
    
    /* Ajout de dimensions fixes */
    width: 120px;  /* Largeur fixe */
    height: 70px;  /* Hauteur fixe */
    display: flex; /* Pour aider au centrage du texte */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */

    position: absolute;
    bottom: 5%;
    right: 5%;
}

.container_name_player h2 {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    text-align: center;
    position: relative;
    top: -7%; /* Assurez-vous qu'il soit en haut */
}

.btn_start_tournament {
    padding: 15px 0px;
    font-size: 1.2vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 2px solid #44444400;
    background-color: transparent;
    /* border-radius: 8px; */
    cursor: pointer;
    text-align: center;
    background-image: url("../../../srcs/game/assets/image/boutton.svg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 4vh;
    width: 145px;
    height: 124px;
    display: flex
;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40%;
    right: 23%;
    transform: translate(50%, 0);
}

.tournament_graphic {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 128%;
    height: 80%;
    display: none;
    justify-content: center;
    align-items: center;
}

.tournament_graphic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.loserBracket {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    position: absolute;
    top: 57%;
    left: 21%;
}

.winnerBracket {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    position: absolute;
    top: 2%;
    left: 21%;
}

.joueur1 {
    color: forestgreen;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    position: absolute;
    top: 8%;
    left: 24%;
}

.joueur2 {
    color: forestgreen;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    position: absolute;
    top: 17%;
    left: 24%;
}

.joueur3 {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    position: absolute;
    top: 28%;
    left: 24%;
}

.joueur4 {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    position: absolute;
    top: 37%;
    left: 24%;
}

.btn_incremente_place {
    padding: 15px 0px;
    font-size: 0.7vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 2px solid #44444400;
    background-color: transparent;
    /* border-radius: 8px; */
    cursor: pointer;

    text-align: center;
    background-image: url("../../../srcs/game/assets/image/boutton.svg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 4vh;
    
    /* Ajout de dimensions fixes */
    width: 120px;  /* Largeur fixe */
    height: 70px;  /* Hauteur fixe */
    display: flex; /* Pour aider au centrage du texte */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */

    position: absolute;
    bottom: 3%;
    left: 5%;
    transform: translate(-50%, 0);
}


.btn_start_game {
	position: absolute;
	top: 60%;
	left: 66%;
	transform: translate(-50%, -50%);
	width: 10%;
	height: 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(121, 121, 121, 0.9);
	border: 2px solid #000;
	font-family: 'Black Ops One', sans-serif;
	font-size: 0.8vw;
	color: #ffffff;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
	cursor: pointer;
}

.btn_start_game a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
}

.btn_start_game:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #00ddff;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.btn_start_game:hover a {
    color: #00ddff;
    text-decoration: none;
}

.btn_finished_game {
    position: absolute;
	right: 32%;
	top: 60%;
	width: 120px;
	height: 70px;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 15;
	clip-path: polygon(0% 20%, 80% 20%, 101.16% 77.13%, 15% 77.13%);
	background-color: aqua;
	border: 19px solid #0070ff45;
	font-size: 0.8vw;
	color: black;
	font-family: 'Black Ops One', sans-serif;
}


.tournament_graphic.active {
    display: flex;
}


/*****************************************************************/
/****************leave_tournament*********************************/
/*****************************************************************/


.btn_leave_tournament {
    position: absolute;
    top: 2%;
    left: 9%;
    /* right: 14%; */
    width: 6%;
    height: 4%;
    /* display: flex; */
    align-items: center;
    background-color: aqua;
    clip-path: polygon(0% 0%, 98% 0%, 70% 100%, 0% 100%);
    font-family: 'Black Ops One', sans-serif;
    color : black;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    display: none;
    background-color: rgb(49, 49, 49);
    /* clip-path: polygon(0% 0%, 98% 0%, 85% 100%, 15% 100%);*/
    border-radius: 2px;
    border: 2px solid white;
}

.message p {
    position: absolute;
    top: 30%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
}

.message .close_message {
    position: absolute;
    top: 0%;
    /* left: 50%; */
    right: 1%;
    /* transform: translate(-50%, -50%); */
    width: 10%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: 'Black Ops One', sans-serif;
    z-index: 100;
    background-color: aqua;
}

.message.active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.comfirm_leave_tournament {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 16%;
    /* display: none; */
    background-color: aqua;
    /* clip-path: polygon(0% 0%, 98% 0%, 85% 100%, 15% 100%); */
    /* border: 3px solid white;*/
    font-family: 'Black Ops One', sans-serif;
    color: black;
}


.continue_btn {
    position: absolute;
    top: 93%;
    right: -2%;
    transform: translate(-50%, -50%);
    width: 15%;
    height: 7%;
    background-color: #1c1c1c;
    font-family: 'Black Ops One', sans-serif;
    color: #ffffff;
}

.player_section {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 20px;
    width: 70%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 17%;
}

.player_section p {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    text-align: center;
    margin-top: -30px;
    transform: translateY(20px);
}


.container_endTournament {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 58%;
    display: none;
    background-color: rgb(49, 49, 49);
    border-radius: 2px;
    border: 2px solid white;
    border: 3px solid #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6), inset 0 0 10px rgba(0, 247, 255, 0.3);
    border-radius: 10px;
}

.container_endTournament.active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.container_endTournament h1 {
    position: absolute;
    top: 8%;
    left: 76%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 1.5vw;
    width: 100%;
}

.container_endTournament img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 75%;
    object-fit: contain;
}

.result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_place {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_place p {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    text-align: center;
    color: gold
}

.second_place {
    position: absolute;
    top: 53%;
    left: 27%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_place p {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    text-align: center;
    color: silver;
}

.third_place {
    position: absolute;
    top: 53%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third_place p {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    text-align: center;
    color: #cd7f32;

}

.finish_tournament {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 18%;
	height: 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(121, 121, 121, 0.9);
	border: 2px solid #000;
	font-family: 'Black Ops One', sans-serif;
	font-size: 0.8vw;
	color: #ffffff;
	text-shadow: 2px 2px 4px rgb(0, 0, 0);
	cursor: pointer;
}

.finish_tournament:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #00ddff;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}