/****************************************************************/
/****************TOURNAMENT_VIEW**********************************/
/****************************************************************/

.tournament_view {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 58%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3sease;
    transform: translate(-50%, -50%);
	z-index: 15;
}


.tournament_view-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.tournament_view-content h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 2.5vw;
    position: relative;
    top: 2%;
    font-family: 'Black Ops One', sans-serif;
    left: 75%;
    width: 21%;
}

.container_name_player {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../srcs/game/assets/image/homeV2.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* border-radius: 10px;
    border : 2px solid #ffffff; */
    gap: 20px;
}

.container_name_player h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 1.5vw;
    position: absolute;
    font-family: 'Black Ops One', sans-serif;
    width: 100%;
    top: 3%;
    left: 12%;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
    height: 10%;
    background-color: #00000082;
    border-radius: 9%;
}

.input-container label {
    color: #fff;
    font-size: 14px;
    font-family: "Black Ops One", sans-serif;
    width: 30%; /* Largeur fixe pour aligner les labels */
    text-align: right; /* Alignement du texte à droite */
}

.input-container input {
    width: 60%; /* Laisse de la place pour le label */
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.input-container input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.input-container input:focus {
    border: 1px solid #ffffff;
    box-shadow: 0 0 8px #ffffff;
}


.container_name_player.hidden {
    display: none;
    pointer-events: none;
}



.btn_back_tournament {
    padding: 15px 0px;
    font-size: 0.7vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 2px solid #44444400;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;

    text-align: center;
    background-image: url("../../../srcs/game/assets/image/boutton.svg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 4vh;
    
    /* Ajout de dimensions fixes */
    width: 120px;  /* Largeur fixe */
    height: 70px;  /* Hauteur fixe */
    display: flex; /* Pour aider au centrage du texte */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */

    position: absolute;
    bottom: 5%;
    right: 5%;
}

.container_name_player h2 {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    text-align: center;
    position: relative;
    top: -7%; /* Assurez-vous qu'il soit en haut */
}

.btn_start_tournament {
    padding: 15px 0px;
    font-size: 1.2vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 2px solid #44444400;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    background-image: url("../../../srcs/game/assets/image/boutton.svg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 4vh;
    width: 145px;
    height: 124px;
    display: flex
;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40%;
    right: 23%;
    transform: translate(50%, 0);
}

.tournament_graphic {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 128%;
    height: 80%;
    display: none;
    justify-content: center;
    align-items: center;
}

.tournament_graphic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.loserBracket {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    position: absolute;
    top: 57%;
    left: 21%;
}

.winnerBracket {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    position: absolute;
    top: 2%;
    left: 21%;
}

.joueur1 {
    color: forestgreen;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    position: absolute;
    top: 8%;
    left: 24%;
}

.joueur2 {
    color: forestgreen;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    position: absolute;
    top: 17%;
    left: 24%;
}

.joueur3 {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    position: absolute;
    top: 28%;
    left: 24%;
}

.joueur4 {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
    position: absolute;
    top: 37%;
    left: 24%;
}

.btn_incremente_place {
    padding: 15px 0px;
    font-size: 0.7vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 2px solid #44444400;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;

    text-align: center;
    background-image: url("../../../srcs/game/assets/image/boutton.svg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 4vh;
    
    /* Ajout de dimensions fixes */
    width: 120px;  /* Largeur fixe */
    height: 70px;  /* Hauteur fixe */
    display: flex; /* Pour aider au centrage du texte */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */

    position: absolute;
    bottom: 3%;
    left: 5%;
    transform: translate(-50%, 0);
}


.btn_start_game {
	position: absolute;
	right: 32%;
	top: 60%;
	width: 120px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 15;
	clip-path: polygon(0% 20%, 80% 20%, 101.16% 77.13%, 15% 77.13%);
	background-color: aqua;
	border: 19px solid #0070ff45;
	font-size: 0.8vw;
	color: black;
	font-family: 'Black Ops One', sans-serif;
}

.btn_finished_game {
    position: absolute;
	right: 32%;
	top: 60%;
	width: 120px;
	height: 70px;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 15;
	clip-path: polygon(0% 20%, 80% 20%, 101.16% 77.13%, 15% 77.13%);
	background-color: aqua;
	border: 19px solid #0070ff45;
	font-size: 0.8vw;
	color: black;
	font-family: 'Black Ops One', sans-serif;
}


.tournament_graphic.active {
    display: flex;
}


/*****************************************************************/
/****************leave_tournament*********************************/
/*****************************************************************/


.btn_leave_tournament {
    position: absolute;
    top: 2%;
    left: 9%;
    /* right: 14%; */
    width: 6%;
    height: 4%;
    /* display: flex; */
    align-items: center;
    background-color: aqua;
    clip-path: polygon(0% 0%, 98% 0%, 70% 100%, 0% 100%);
    font-family: 'Black Ops One', sans-serif;
    color : black;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    display: none;
    background-color: rgb(49, 49, 49);
    /* clip-path: polygon(0% 0%, 98% 0%, 85% 100%, 15% 100%);*/
    border-radius: 2px;
    border: 2px solid white;
}

.message p {
    position: absolute;
    top: 30%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 0.8vw;
}

.message .close_message {
    position: absolute;
    top: 0%;
    /* left: 50%; */
    right: 1%;
    /* transform: translate(-50%, -50%); */
    width: 10%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: 'Black Ops One', sans-serif;
    z-index: 100;
    background-color: aqua;
}

.message.active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.comfirm_leave_tournament {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 16%;
    /* display: none; */
    background-color: aqua;
    /* clip-path: polygon(0% 0%, 98% 0%, 85% 100%, 15% 100%); */
    /* border: 3px solid white;*/
    font-family: 'Black Ops One', sans-serif;
    color: black;
}


.continue_btn {
    position: absolute;
    top: 88%;
    right: 0%;
    transform: translate(-50%, -50%);
    width: 18%;
    height: 10%;
    /* display: none; */
    background-color: #1c1c1c;
    /* clip-path: polygon(0% 0%, 98% 0%, 85% 100%, 15% 100%); */
    /* border: 3px solid white; */
    font-family: 'Black Ops One', sans-serif;
    color: #ffffff;
}