.container {
	position: absolute;
    top: 20%;
    left: 10%;
    width: 30%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    z-index: 1;
    pointer-events: auto;
}

#h1 {
	text-align: center;
	color: white;
	font-size: 1vw;
	margin-bottom: 1.5rem;
}