
.container-EndGame {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31%;
    height: 30%;
    display: flex
;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: #545454;
    visibility: hidden;
    border: 2px solid #000000;
}

.winner {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px #000000;
}

.looser {
    position: absolute;
    top: 11%;
    right: 31%;
    font-size: 2vw;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px #000000;
}

.container-EndGame h1 {
    font-size: 1vw;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px #000000;

}

.container-EndGame.active {
    visibility: visible;
}

@keyframes press_space {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.press_space h1 {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    font-family: 'Black Ops One', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px #ffffff;
    animation: press_space 2s infinite;
    visibility: visible;
}

.press_space.active {
	visibility: hidden;
	animation: none;
}

.leave_game_2
{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3sease;
    background-image: url("../../../srcs/game/assets/image/boutton.svg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    /* line-height: 3vh; */
    width: 170px;
    height: 112px;
    display: flex
;
    justify-content: center;
    align-items: center;
    bottom: -4%;

}

.nav-link {
    color: #000000;
    font-size: 0.8vw;
    font-family: 'Black Ops One', sans-serif;
    text-shadow: 2px 2px 2px #ffffff;
    text-decoration: none;
}